<configuration>
  <dllmap dll="libgdk-3-0.dll" target="libgdk-3.dylib" os="osx"/>
  <dllmap dll="libgdk-3-0.dll" target="libgdk-3.so.0" os="!windows,osx"/>
  <dllmap dll="libgdk-3-0.dll" target="libgdk-3-0.dll" os="windows"/>

  <dllmap dll="libgstfft-1.0-0.dll" target="libgstfft-1.0.so" os="!windows" />
</configuration>
